.my-assets {
    padding: 20px;
    margin: 20px;
    background: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.my-assets-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.my-assets-add-asset {
    background-color: #e01414;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}